@model MyDigitalKey.Web.Models.ViewModels.UserViewModel
@{
    ViewData["Title"] = "User";
}

<div class="ui masthead vertical segment">
<div class="ui container">
    <h1 class="ui header">Users</h1>

    <div class="ui middle aligned selection divided list">
        @foreach (var user in ViewBag.Users)
        {
            <div class="item">
                <i class="user icon"></i>
                <div class="content js-user-item">
                    <div class="header">@user.FirstName @user.LastName</div>
                </div>
                <div class="details">
                
                @using (Html.BeginForm("Update", "UserView", FormMethod.Post, new { @class="ui form" }))
                {   
                    <input type="hidden" name="id" value="@user.Id">
                    <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="FirstName" placeholder="First Name"
                                   value="@user.FirstName">
                        </div>
                        <div class="field">
                            <input type="text" name="LastName" placeholder="Last Name"
                                   value="@user.LastName">
                        </div>
                    </div>
                    </div>
                    <div class="field">
                        <input type="text" name="KeyCode" placeholder="Key code"
                               value="@user.Key?.BusinessId">
                    </div>
                    <button class="ui button" type="submit">Save</button>
                }
                    
                </div>
            </div>
        }    
    </div>
    <div class="ui raised segment">
        <form class="ui form">
        <h4 class="ui dividing header">New user</h4>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <input type="text" name="FirstName" placeholder="First Name">
                </div>
                <div class="field">
                    <input type="text" name="LastName" placeholder="Last Name">
                </div>
            </div>
            </div>
            <div class="field">
                <input type="text" name="KeyCode" placeholder="Key code">
            </div>
            <button class="ui right labeled icon button">
            <i class="plus icon"></i>
            Add
            </button>
        </form>
    </div>
</div>
</div>