@model MyDigitalKey.Web.Models.ViewModels.AuthorizationsViewModel
@{
    ViewData["Title"] = "Authorizations";
}

<h2>Authorizations</h2>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            First Name
        </div>
        <div class="col-md-2">
            Last Name
        </div>
        <div class="col-md-2">
            Lock Name
        </div>
        <div class="col-md-2">
            Can Open ?
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.SelectedUserName, Model.UserNames, "Select User")
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.SelectedLockName, Model.LockNames, "Select Lock")
            </div>
            <div class="col-md-2">
                @Html.CheckBoxFor(m => m.CanOpen)
            </div>
            <div class="col-md-2">
                <input type="submit" value="Insert" class="btn btn-default" />
            </div>
        }
    </div>
@foreach (var Authorization in Model.Authorizations)
{
    <div class="row">
        <div class="col-md-2">
            @Authorization.User.FirstName
        </div>
        <div class="col-md-2">
            @Authorization.User.LastName
        </div>
        <div class="col-md-2">
            @Authorization.Lock.Name
        </div>
        <div class="col-md-2">
            @Html.CheckBoxFor(m => Authorization.CanOpen)
        </div>
        <div class="col-md-2">

        </div>
    </div>
}
</div>