@model MyDigitalKey.Web.Models.ViewModels.AuthorizationsViewModel
@{
    ViewData["Title"] = "Authorizations";
}


<div class="ui masthead vertical segment">
<div class="ui container">
    <h1 class="ui header">Authorizations</h1>

    <table class="ui celled table">
    <thead>
        <tr>
        <th>User</th>
        <th>Lock</th>
        <th>Start</th>
        <th>End</th>
        <th>Suspend/Resume</th>
        <th>Revoke</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var Authorization in Model.Authorizations)
        {
            var disabled = (!Authorization.IsActive && Authorization.EndDate != null) ? "disabled" : "";
            var active = "positive";
            if(!Authorization.IsActive) 
            {
                active = (Authorization.EndDate == null) ? "warning" : "negative";
            }

            <tr class="@active">
                <td>@Authorization.User.FirstName @Authorization.User.LastName</td>
                <td>@Authorization.Lock.Name</td>
                <td>@Authorization.StartDate</td>
                <td>
                    @if (Authorization.EndDate.HasValue)
                    {
                        <div>@Authorization.EndDate.Value</div>
                    }
                </td>
                <td>
                    @if(Authorization.IsActive)
                    {
                        @using(Html.BeginForm("Suspend", "AuthorizationView", FormMethod.Post, new {}))
                        {
                            <input type="hidden" name="id" value="@Authorization.Id" >
                            <input type="submit" class="ui button"  value="Suspend" @disabled/>
                        }
                    }
                    else
                    {
                        @using(Html.BeginForm("Resume", "AuthorizationView", FormMethod.Post, new {}))
                        {
                            <input type="hidden" name="id" value="@Authorization.Id" >
                            <input type="submit" class="ui button" value="Resume" @disabled/>
                        }
                    }
                <td>
                    @using(Html.BeginForm("Revoke", "AuthorizationView", FormMethod.Post, new {}))
                    {
                        <input type="hidden" name="id" value="@Authorization.Id">
                        <input type="submit" class="ui button" name="RevokeButton" value="Revoke" @disabled/>
                    }
                </td>
            </tr>
        }
    </tbody>
    </table>

    <div class="ui raised segment">
    @using (Html.BeginForm("Index", "AuthorizationView", FormMethod.Post, new { @class="ui form" }))
    {
        <h4 class="ui dividing header">New authorization</h4>
        <div class="four fields">
            <div class="field">
                <label>User</label>
                @Html.DropDownListFor(m => m.SelectedUserName, Model.UserNames, "Select User")
            </div>
            <div class="field">
                <label>Lock</label>
                @Html.DropDownListFor(m => m.SelectedLockName, Model.LockNames, "Select Lock")
            </div>
            <div class="field">
                <label>Start</label>
                @Html.EditorFor(m=>m.StartDate, new { htmlAttributes = new { @type = "text" } })
            </div>
            <div class="field">
                <label>End</label>
                @Html.EditorFor(m=>m.EndDate, new { htmlAttributes = new { @type = "text" } })
            </div>
        </div>

        <button class="ui button" type="submit">Save</button>
    }
    </div>
</div>
</div>