@model MyDigitalKey.Web.Models.ViewModels.AuthorizationsViewModel
@{
    ViewData["Title"] = "Authorizations";
}


<div class="ui masthead vertical segment">
<div class="ui container">
    <h1 class="ui header">Authorizations</h1>

    <table class="ui celled table">
    <thead>
        <tr>
        <th>User</th>
        <th>Lock</th>
        <th>Start</th>
        <th>End</th>
        <th>Suspend/Resume</th>
        <th>Revoke</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var Authorization in Model.Authorizations)
        {
            <tr>
                <td>@Authorization.User.FirstName @Authorization.User.LastName</td>
                <td>@Authorization.Lock.Name</td>
                <td>@Authorization.StartDate</td>
                <td>
                    @if (Authorization.EndDate.HasValue)
                    {
                        <div>@Authorization.EndDate.Value</div>
                    }
                </td>
                <td>@Html.CheckBoxFor(m=>Authorization.IsActive)</td>
                <td><input type="button" class="btn" name="RevokeButton" value="Revoke"/></td>
            </tr>
        }
    </tbody>
    </table>
    @using (Html.BeginForm("Index", "AuthorizationView", FormMethod.Post, new { @class="ui form" }))
    {
        <div class="four fields">
            <div class="field">
                <label>User</label>
                @Html.DropDownListFor(m => m.SelectedUserName, Model.UserNames, "Select User")
            </div>
            <div class="field">
                <label>Lock</label>
                @Html.DropDownListFor(m => m.SelectedLockName, Model.LockNames, "Select Lock")
            </div>
            <div class="field">
                <label>Start</label>
                @Html.EditorFor(m=>m.StartDate, new { htmlAttributes = new { @type = "text" } })
            </div>
            <div class="field">
                <label>End</label>
                @Html.EditorFor(m=>m.EndDate, new { htmlAttributes = new { @type = "text" } })
            </div>
        </div>

        <button class="ui button" type="submit">Save</button>
    }
</div>
</div>

<!--<h2>Authorizations</h2>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-2">
            Name
        </div>
        <div class="col-md-2">
            Lock Name
        </div>
        <div class="col-md-2">
            Start Date
        </div>
        <div class="col-md-2">
            End Date
        </div>
        <div class="col-md-2">
            Suspend/Resume
        </div>
        <div class="col-md-2">
            Revoke
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm())
        {
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.SelectedUserName, Model.UserNames, "Select User")
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(m => m.SelectedLockName, Model.LockNames, "Select Lock")
            </div>
            <div class="col-md-2">
                @Html.EditorFor(m=>m.StartDate)
            </div>
            <div class="col-md-2">
                @Html.EditorFor(m => m.EndDate)
            </div>
            <div class="col-md-4">
                <input type="submit" value="Insert" class="btn btn-default"/>
            </div>
        }
    </div>
@foreach (var Authorization in Model.Authorizations)
{
    string style = Authorization.IsActive ? "\"background-color:lightgreen\"" : "\"background-color:lightcoral\"";
    <div class="row" style=@style>
        <div class="col-md-2">
            @Authorization.User.FirstName @Authorization.User.LastName
        </div>
        <div class="col-md-2">
            @Authorization.Lock.Name
        </div>
        <div class="col-md-2">
            @Authorization.StartDate
        </div>
       
        <div class="col-md-2">
            @if (Authorization.EndDate.HasValue)
            {
                <div>@Authorization.EndDate.Value</div>
            }
        </div>
        <div class="col-md-2">
            @Html.CheckBoxFor(m=>Authorization.IsActive)
        </div>
        <div class="col-md-2">
            <input type="button" class="btn" name="RevokeButton" value="Revoke"/>
        </div>
    </div>
}
</div>-->